<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="mb-0 page-title">{{'USER_PAGE_PERMISSION_TO' | translate}} <span>{{user.firstName}}
            {{user.lastName}} <app-page-help-text code="USER_PAGE_PERMISSION_TO"></app-page-help-text> </span></span>
      </div>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-md-4 col-sm-12">
            <h2 class="page-title">{{'PERMISSION' | translate}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 alt-bg">
            @for (page of pages; track $index; let i = $index) {
            <div class="d-flex flex-column">
              <div>
                <mat-checkbox color="primary" (change)="onPageSelect($event,page)">
                  <b> {{page.name.replaceAll(' ', '_').toUpperCase() | translate}}</b>
                </mat-checkbox>
              </div>
              <div class="row ms-2">
                @for (action of page.pageActions; track $index) {
                <div class="col-sm-3 mb-0">
                  <mat-checkbox color="primary" [checked]="checkPermission(action.id)"
                    (change)="onPermissionChange($event,page,action)">
                    {{action.name.replaceAll(' ', '_').toUpperCase() | translate}}
                  </mat-checkbox>
                </div>
                }
              </div>
            </div>
            }
          </div>
        </div>
        <div class="mt-2">
          <button *hasClaim="'ASSIGN_PERMISSION'" class="success me-2" matButton="filled" (click)="saveUserClaim()"
            cdkFocusInitial>
            <mat-icon class="medium-icon align-middle">save</mat-icon>
            {{'SAVE' | translate}}
          </button>
          <button class="error" matButton="filled" [routerLink]="['/users']">
            <mat-icon class="medium-icon align-middle">cancel</mat-icon>
            {{'CANCEL' | translate}}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
