<mat-dialog-content>
  <div class="d-flex">
    <div class="me-auto p-2">
      <span class="mb-3 page-title">
        {{'SHARE_FOLDERS' | translate}}
      </span>
    </div>
    <div class="d-flex justify-content-end mb-2">
      <mat-icon class="close-icon text-danger cursor-pointer " (click)="closeDialog()">cancel</mat-icon>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h5> {{'SELECTED_FOLDERS' | translate}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-chip-set>
        @for (category of categories; track category.id) {
        <mat-chip color="primary" style="overflow: hidden;">{{category.name}}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </div>
  <form class="row mt-2" [formGroup]="permissionForm">
    <div class="col-md-6">
      <mat-label>{{'USERS' | translate}}</mat-label>
      <mat-select panelClass="mat-select-control" class="form-control" color="primary" formControlName="users" multiple>
        @for (user of userStore.users(); track user.id) {
        <mat-option [value]="user.id">
          {{user.firstName}} {{user.lastName}} ({{user.userName}})
        </mat-option>
        }
      </mat-select>
    </div>
    <div class="col-md-6">
      <mat-label>{{'ROLES' | translate}}</mat-label>
      <mat-select panelClass="mat-select-control" class="form-control" color="primary" formControlName="roles" multiple>
        @for (role of roles; track role.id) {
        <mat-option [value]="role.id">
          {{role.name}}
        </mat-option>
        }
      </mat-select>
    </div>
    <div class="col-md-12 mt-1">
      <mat-checkbox (change)="timeBoundChange($event)" color="primary" formControlName="isTimeBound">
        {{'SPACIFY_THE_PERIOD' | translate}}
      </mat-checkbox>
    </div>
    @if (permissionForm.get('isTimeBound')?.value) {
    <div class="col-md-12 row">
      <div class="form-group col-md-3">
        <mat-label>{{'CHOOSE_A_START_DATE' | translate}}</mat-label>
        <div class="input-group">
          <input formControlName="startDate" class="form-control" [min]="minDate" [matDatepicker]="startDatePicker">
          <div class="input-group-append">
            <button class="btn btn-primary calendar-button" type="button" (click)="startDatePicker.open()">
              <mat-icon class="medium-icon fs-5 align-middle">calendar_today</mat-icon>
            </button>
          </div>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </div>
        @if (permissionForm.get('startDate')?.touched && permissionForm.get('startDate')?.errors?.['required']) {
        <mat-error>
          {{'START_DATE_IS_REQURED' | translate}}
        </mat-error>
        }
      </div>
      <div class="form-group col-md-3">
        <mat-label>{{'CHOOSE_A_END_DATE' | translate}}</mat-label>
        <div class="input-group">
          <input formControlName="endDate" class="form-control" [min]="permissionForm.get('startDate')?.value"
            [matDatepicker]="endDatePicker">
          <div class="input-group-append">
            <button class="btn btn-primary calendar-button" type="button" (click)="endDatePicker.open()">
              <mat-icon class="medium-icon fs-5 align-middle">calendar_today</mat-icon>
            </button>
          </div>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </div>
        @if (permissionForm.get('startDate')?.touched && permissionForm.get('endDate')?.errors?.['required']) {
        <mat-error>
          {{'END_DATE_IS_REQURED' | translate}}
        </mat-error>
        }
      </div>
    </div>
    }
    <div class="col-md-12">
      <mat-checkbox color="primary" formControlName="isAllowDownload">{{'ALLOW_DOWNLOAD' | translate}}</mat-checkbox>
    </div>
    <div class="col-md-12">
      <mat-checkbox color="primary" formControlName="isAllowEmailNotification">{{'IS_ALLOW_NOTIFICATION' |
        translate}}</mat-checkbox>
    </div>
    @if (permissionForm.get('isAllowEmailNotification')?.value && !smtpConfigured) {
    <div class="alert alert-warning mt-2">
      {{ 'PLEASE_CONFIGURE_EMAIL_SMTP_SETTINGS' | translate }}
    </div>
    }
    <div class="col-md-12">
      <button mat-button color="primary" class="success me-2" (click)="saveCategoryUserPermission()" cdkFocusInitial>
        <mat-icon class="medium-icon align-middle">save</mat-icon>
        {{'SAVE' | translate}}
      </button>
      <button mat-button color="warn" class="error" (click)="closeDialog()">
        <mat-icon class="medium-icon align-middle">cancel</mat-icon>
        {{'CANCEL' | translate}}
      </button>
    </div>
  </form>
</mat-dialog-content>
