<mat-dialog-content>
  <div class="d-flex">
    <div class="me-auto p-2">
      <span class="mb-3 page-title">
        {{ "SHARE_DOCUMENT" | translate }}
        <app-page-help-text [code]="'SHARE_DOCUMENT'"></app-page-help-text>
      </span>
    </div>
    <div class="d-flex justify-content-end mb-2">
      <mat-icon class="close-icon text-danger cursor-pointer" (click)="closeDialog()">cancel</mat-icon>
    </div>
  </div>

  @if (document) {
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 mb-2">
      <p class="mb-0">
        <b>{{ "DOCUMENT_NAME" | translate }}:</b> {{ document.name }}
      </p>
    </div>
    @if (document.description) {
    <div class="col-12 col-sm-6 col-md-8 mb-2">
      <p class="mb-0">
        <b>{{ "DESCRIPTION" | translate }}:</b> {{ document.description }}
      </p>
    </div>
    }
  </div>
  }
  <div class="d-flex flex-wrap gap-2 mb-3">
    <button (click)="addDocumentUserPermission()" class="success" matButton="filled" type="button">
      <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
      {{ "ASSIGN_USERS" | translate }}
    </button>
    <button (click)="addDocumentRolePermission()" class="error" matButton="filled" type="button">
      <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
      {{ "ASSIGN_ROLES" | translate }}
    </button>
  </div>
  <div class="col-md-12 form-group mt-2 mb-2">
    <label>{{ "FILTER" | translate }}</label>
    <input class="form-control" (keyup)="applyPermissionFilter($event)"
      placeholder="{{ 'SEARCH_BY_USER_ROLE_NAME_AND_EMAIL' | translate }}" #input1 />
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="permissionsDataSource" style="display: table !important">
      <ng-container matColumnDef="action">
        <th style="width: 20%" mat-header-cell *matHeaderCellDef>
          {{ "ACTION" | translate }}
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let userPermission">
          <ng-container *hasClaim="[
                  'ASSIGNED_REMOVE_SHARE_DOCUMENT',
                  'ALL_REMOVE_SHARE_DOCUMENT'
                ]">
            @if (userPermission.type == 'User') {
            <button class="error" matMiniFab (click)="deleteDocumentUserPermission(userPermission)">
              <mat-icon>delete</mat-icon>
            </button>
            } @if (userPermission.type == 'Role') {
            <button class="error" matMiniFab (click)="deleteDocumentRolePermission(userPermission)">
              <mat-icon>delete</mat-icon>
            </button>
            }
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="isAllowDownload">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ALLOW_DOWNLOAD" | translate }}
        </th>
        <td mat-cell *matCellDef="let userPermission">
          @if (userPermission.isAllowDownload) {
          <ng-container>
            {{ "YES" | translate }}
          </ng-container>
          } @else {
          <ng-container>
            {{ "NO" | translate }}
          </ng-container>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ "TYPE" | translate }}</th>
        <td mat-cell *matCellDef="let userPermission">
          {{ userPermission.type }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          {{ "USER_ROLE_NAME" | translate }}
        </th>
        <td mat-cell *matCellDef="let userPermission">
          @if (userPermission.type == 'User') {
          <span>
            {{ userPermission.user.firstName }}
            {{ userPermission.user.lastName }}
          </span>
          } @if (userPermission.type == 'Role') {
          <span>
            {{ userPermission.role.name }}
          </span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>{{ "EMAIL" | translate }}</th>
        <td mat-cell *matCellDef="let userPermission">
          @if (userPermission.type == 'User') {
          <span>
            {{ userPermission.user.email }}
          </span>
          } @if (userPermission.type == 'Role') {
          <span> -- </span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>
          {{ "START_DATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let userPermission">
          @if (userPermission.isTimeBound) {
          <ng-container>
            {{ userPermission.startDate | utcToLocalTime : "shortDate" }}
          </ng-container>
          } @else {
          <ng-container> -- </ng-container>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>
          {{ "END_DATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let userPermission">
          @if (userPermission.isTimeBound) {
          <ng-container>
            {{ userPermission.endDate | utcToLocalTime : "shortDate" }}
          </ng-container>
          } @else {
          <ng-container> -- </ng-container>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="footer">
        <td mat-footer-cell colspan="7" *matFooterCellDef>
          <mat-paginator #userPermissionsPaginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
        </td>
      </ng-container>
      <tr *matNoDataRow>
        <td colspan="5">
          <div class="m-2">
            <b> {{ "NO_DATA_FOUND" | translate }}</b>
          </div>
        </td>
      </tr>
      <tr class="grid-header-color" mat-header-row *matHeaderRowDef="documentPermissionsColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: documentPermissionsColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="footerToDisplayed; sticky: true"></tr>
    </table>
  </div>
</mat-dialog-content>
