.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 9999;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 60px);
}
