<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="page-title">
          {{ "MANAGE_ALLOW_FILE_EXTENSIONS" | translate }}
          <app-page-help-text code="MANAGE_ALLOW_FILE_EXTENSION"></app-page-help-text>
        </span>
      </div>
    </div>

    <form [formGroup]="allowFileExtensionForm">
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="d-flex justify-content-end mb-2">
            <button type="button" class="primary me-2" matButton="filled" (click)="addExtensionField()">
              <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
              {{ "ADD_EXTENSION" | translate }}
            </button>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label fw-bold text-danger">
                  {{ "FILE_TYPE" | translate }} <sup>*</sup></label>
                <mat-select panelClass="mat-select-control" placeholder="{{ 'FILE_TYPE' | translate }}"
                  class="form-control" formControlName="fileType">
                  @for(fileType of fileTypes; track fileType.key) {
                  <mat-option [value]="fileType.value">
                    {{ fileType.key | translate }}
                  </mat-option>
                  }
                </mat-select>
                @if(allowFileExtensionForm.get('fileType')?.touched &&
                allowFileExtensionForm.get('fileType')?.hasError('required')) {
                <div class="text-danger">
                  {{ "FILE_TYPE_IS_REQUIRED" | translate }}
                </div>
                }
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label> {{ "EXTENSIONS" | translate }}</label>
              <div formArrayName="extensions" class="mb-2">
                <div class="row">
                  @for(control of extensions.controls; let i = $index; track control) {
                  <div
                    [formGroupName]="i"
                    class="col-md-2 col-sm-3 col-xs-6 mb-2"
                  >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                          <input formControlName="extension" class="form-control" type="text"
                            placeholder="{{ 'ENTER_EXTENSION' | translate }}" />
                          <button matMiniFab type="button" class="error ml-1" (click)="removeExtensionField(i)">
                            <mat-icon class="medium-icon fs-5 align-middle">delete</mat-icon>
                          </button>
                        </div>
                        @if(control.get('extension')?.touched &&
                        control.get('extension')?.hasError('required')) {
                        <div class="text-danger">
                          {{ "EXTENSION_IS_REQUIRED" | translate }}
                        </div>
                        } @if(control.get('extension')?.touched &&
                        control.get('extension')?.hasError('pattern')) {
                        <div class="text-danger">
                          {{ "SPECIAL_CHARACTER_NOT_ALLOWED" | translate }}
                        </div>
                        }
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="m-top-10 col-md-12">
            <button class="success me-2" matButton="filled" (click)="saveAllowFileExtension()" cdkFocusInitial>
              <mat-icon class="medium-icon align-middle">save</mat-icon>
              {{ "SAVE" | translate }}
            </button>
            <button type="button" class="error" matButton="filled" [routerLink]="['/allow-file-extension']">
              <mat-icon class="medium-icon align-middle">cancel</mat-icon>
              {{ "CANCEL" | translate }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</section>
