@if(isLive){
<iframe
  class="preview-object"
  #iframe
  style="width: 100%; height: calc(100vh - 66px)"
></iframe>
@if(isLoading){
<div class="spinner-container">
  <!-- <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->
<mat-progress-spinner
      mode="indeterminate"
      diameter="60"
      strokeWidth="5">
    </mat-progress-spinner>
</div>
} } @else if(document.extension === 'xlsx' || document.extension === 'xls'||
document.extension === '.xlsx' || document.extension === '.xls'){
<app-excel-preview [documentBlob]="documentBlob"></app-excel-preview>
} @else if(document.extension === 'doc' || document.extension === '.doc' ||
document.extension === 'docx' || document.extension === '.docx'){
<app-doc-preview [documentBlob]="documentBlob"></app-doc-preview>
} @else{
<div style="text-align: center">
  <img class="m-5" src="../../../images/file-preview.png" alt="" />
  <h5 class="text-dark">
    Office View is not suporting the localhost please host your REST API and try
    again.
  </h5>
</div>
}
