.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 16px;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.styled-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.WACStatusBarContainer {
  display: none !important;
}