.mat-mdc-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

@for $index from 0 through 300 {
  $size: $index * 2;

  .table-column-#{$size} {
    // flex: 0 1 #{$size}#{"px"};
    min-width: #{$size}#{"px"};
  }
}

tr.example-detail-row {
  height: 0 !important;
  border: 0 solid transparent !important;
}

.example-element-row td {
  border-bottom-width: 0 !important;
  border: 0 !important;
}

.example-element-detail {
  overflow: hidden;
  display: flex;

}

.cdk-column-expandedDetail {
  border: 0 solid transparent !important;
}

.inner-table {
  margin: 1em;
  padding: 1em;
  width: 100% !important;
}