::ng-deep .mat-mdc-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

@for $index from 0 through 300 {
  $size: $index * 1;

  .table-column-#{$size} {
    // flex: 0 1 #{$size}#{"px"};
    min-width: #{$size}#{"px"};
  }
}