.folder_shared {
  color: #f2d300;
  font-size: 30px;
  margin-top: 0;
  float: left;
}

.list-img {
  width: 30px;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target {
  height: 30px !important;
}

// ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
//   height: 30px !important;
// }

.height-30 {
  height: 30px !important;
}

.folder_shared {
  color: #f2d300;
  font-size: 30px;
  margin-top: 0;
  float: left;
}

.text-decoration-none {
  text-decoration: none;
}

.loading-text {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

::ng-deep .mat-mdc-tooltip {
  background-color: #3f51b5 !important;
  /* Replace with your primary color */
  color: white !important;
}

.shared-icon {
  max-height: 21px;
  margin-top: -14px;
}