<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="2147483647" />
    </system.web>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
      </security>
      <aspNetCore processPath="dotnet" arguments=".\DocumentManagement.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <staticContent>
        <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
        <mimeMap fileExtension=".ftl" mimeType="text/plain" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>