<mat-dialog-content>
  <div class="d-flex">
    <div class="me-auto p-2">
      <span class="mb-3 page-title">
        {{ "CHANGE_PASSWORD" | translate }}
      </span>
    </div>
    <div class="d-flex justify-content-end mb-2">
      <mat-icon class="close-icon text-danger cursor-pointer " (click)="onNoClick()">cancel</mat-icon>
    </div>
  </div>

  <form [formGroup]="changePasswordForm">
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label">{{'EMAIL' | translate}}</label>
        <input formControlName="email" class="form-control" type="email">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label text-danger">{{'CURRENT_PASSWORD' | translate}} <sup>*</sup></label>
        <input autocomplete="new-password" formControlName="oldPasswordPassword" class="form-control" type="password">
        @if(
        changePasswordForm.get('oldPasswordPassword')?.touched &&
        changePasswordForm.get('oldPasswordPassword')?.errors &&
        changePasswordForm.get('oldPasswordPassword')?.errors?.['required']){
        <div class="text-danger">
          {{'CURRENT_PASSWORD_IS_REQUIRED' | translate}}
        </div>
        }

      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label text-danger">{{'NEW_PASSWORD' | translate}} <sup>*</sup></label>
        <input autocomplete="new-password" formControlName="password" class="form-control" type="password">
        @if(changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.errors ){
        <div class="text-danger">
          @if(changePasswordForm.get('password')?.errors?.['required']){
          {{'PASSWORD_IS_REQUIRED' | translate}}
          }
          @if(changePasswordForm.get('password')?.errors?.['minlength']){
          <div>
            {{'YOU_HAVE_TO_ENTER_AT_LEAST_DIGIT' | translate}}
          </div>
          }
        </div>
        }
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label text-danger">{{'CONFIRM_PASSWORD' | translate}} <sup>*</sup></label>
        <input autocomplete="new-password" formControlName="confirmPassword" class="form-control" type="password">
        @if(changePasswordForm.get('confirmPassword')?.touched &&
        changePasswordForm.get('confirmPassword')?.errors){
        <div class="text-danger">
          @if(changePasswordForm.get('confirmPassword')?.errors?.['required']){
          <div>
            {{'CONFIRM_PASSWORD_IS_REQUIRED' | translate}}
          </div>
          }
        </div>
        }
        @if( changePasswordForm.hasError('notSame')){
        <div class="text-danger">
          {{'PASSWORDS_DO_NOT_MATCH' | translate}}
        </div>
        }
      </div>
    </div>
    <div class="col-md-12 my-2">
      <button class="success me-2" matButton="filled" (click)="changePassword()">
        <mat-icon class="medium-icon align-middle">save</mat-icon> {{'SAVE' | translate}}
      </button>
      <button class="error" matButton="filled" (click)="onNoClick()">
        <mat-icon class="medium-icon align-middle">cancel</mat-icon> {{'CANCEL' | translate}}
      </button>
    </div>
  </form>

</mat-dialog-content>
