.auth-bg {
    height: 100vh;
    background-size: cover;
    background-position: center;
    .bg-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      opacity: 0.5;
      z-index: -1;
      background-color: #292626;
    }
  
    @media (max-width: 991px) {
      display: none;
    }
  }

  .auth-content {
    height: 100vh;
    display: flex;
    background-color: #ffffff;
  }

  .auth-form-group {
    position: relative;
    .form-control {
      height: 60px;
      padding-left: 60px;
      border-radius: 5px;
    }
}
  
  .logo-img {
    height: auto !important;
    margin-bottom: 2rem;
    
    img {
      max-height: 150px; // Reasonable max height for a login logo
      width: auto;
    }
  }
