.timepicker-container {
    display: flex;
    align-items: center;
  }
  
  .timepicker-input {
    flex: 1;
  }
  
  .timepicker-toggle {
    display: flex;
    align-items: center;
  }
