<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span class="mb-0 page-title">
          {{ "DOCUMENT_META_TAGS" | translate }}
          <app-page-help-text code="DOCUMENT_META_TAGS"></app-page-help-text>
        </span>
      </div>
      <div class="d-flex justify-content-end">
        <button *hasClaim="'ADD_DOCUMENT_META_TAGS'" [routerLink]="['/document-meta-tag/manage']" class="primary me-2"
          matButton="filled">
          <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
          <span class="d-none d-lg-inline ms-1">{{ "ADD_META_TAG" | translate }}</span>
        </button>
      </div>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="table-responsive">
          <div class="grid-height-large">
            <table mat-table [dataSource]="documentMetaTagStore.documentMetaTags()">
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "ACTION" | translate }}
                </th>
                <td mat-cell *matCellDef="let documentMetaTag">
                  <div class="d-flex gap-2">
                    <ng-container *hasClaim="'EDIT_DOCUMENT_META_TAGS'">
                      @if (documentMetaTag?.isEditable) {
                      <button matMiniFab [routerLink]="[
                          '/document-meta-tag/manage',
                          documentMetaTag.id
                        ]" class="primary">
                        <mat-icon class="medium-icon fs-5 align-middle">edit</mat-icon>
                      </button>
                      }
                    </ng-container>
                    <ng-container *hasClaim="'DELETE_DOCUMENT_META_TAGS'">
                      @if (documentMetaTag?.isEditable) {
                      <button (click)="deleteDocumentMetaTag(documentMetaTag)" class="error" matMiniFab>
                        <mat-icon class="medium-icon fs-5 align-middle">delete</mat-icon>
                      </button>
                      }
                    </ng-container>
                  </div>
                </td>
              </ng-container>

              <!-- Type Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "TYPE" | translate }}
                </th>
                <td mat-cell *matCellDef="let documentMetaTag">
                  {{ documentMetaTag.type | documentMetaTagFileType }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "NAME" | translate }}
                </th>
                <td mat-cell *matCellDef="let documentMetaTag">
                  {{ documentMetaTag.name }}
                </td>
              </ng-container>

              <!-- Is Editable Column -->
              <ng-container matColumnDef="isEditable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "IS_EDITABLE" | translate }}
                </th>
                <td mat-cell *matCellDef="let documentMetaTag">
                  @if (documentMetaTag.isEditable) {
                  <button class="success" matButton="filled">
                    {{ "YES" | translate }}
                  </button>
                  } @else {
                  <button class="error" matButton="filled">
                    {{ "NO" | translate }}
                  </button>
                  }
                </td>
              </ng-container>

              <tr *matNoDataRow>
                <td colspan="6">
                  <div class="m-2">
                    <b> {{ "NO_DATA_FOUND" | translate }}</b>
                  </div>
                </td>
              </tr>
              <tr class="grid-header-color" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
