<mat-dialog-content>
  <div class="d-flex">
    <div class="me-auto p-2">
      <span class="mb-3 page-title">
        {{ "LINK_IS_PASSWORD_PROTECTED" | translate }}
      </span>
    </div>
  </div>

  <form class="mt-1" disableClose='true' [formGroup]="documentLinkForm">
    <div class="row col-md-12">
      <div class="col-md-auto">
        <span class="material-icons text-main" style="font-size: 100px;">
          https
        </span>
      </div>
      <div class="col-md">
        <div class="form-group">
          <label for="exampleInputPassword1">{{'PASSWORD' | translate}}</label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
            placeholder="{{ 'ENTER_PASSWORD' | translate }}">
          @if (documentLinkForm.get('password')?.touched && documentLinkForm.get('password')?.errors?.['required'])
          {
          <div class="text-danger">
            {{'PASSWORD_IS_REQUIRED' | translate}}
          </div>
          }
          <button type="submit" class="success mt-2" matButton="filled" (click)="checkPassword()">
            <mat-icon class="medium-icon fs-5 align-middle">check</mat-icon>
            {{'SUBMIT' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
