@if (isLinkExpired) {
<div class="center-screen">
  <h2>Opps, this is Link is Expired</h2>
  <h3>This url is not valid anymore</h3>
  <a class="btn btn-primary" [routerLink]="['/']">Go to Home</a>
</div>
}
@if(isLoadingResults) {
<div class="spinner-container">
  <!-- <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->
<mat-progress-spinner
      mode="indeterminate"
      diameter="60"
      strokeWidth="5">
    </mat-progress-spinner>
</div>
}