<nav #navbar class="navbar active">
  <div class="container-fluid">
    <!-- ✅ Desktop Header -->
    <div class="navbar-header d-none d-md-flex" #navbarHeader>
      <a onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event, 'overlay-open')"></a>
      <!-- Logo removed from here as it is now in the sidebar -->
      <a onClick="return false;" class="navbar-toggle collapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        aria-expanded="false"></a>
    </div>

    <!-- ✅ Mobile Header -->
    <div class="navbar-header d-flex d-md-none align-items-center justify-content-between w-100 position-relative">
      <!-- Left: Sidebar toggle -->
      <a onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event, 'overlay-open')">
        <mat-icon class="header-icon">menu</mat-icon>
      </a>

      <!-- Center: Logo -->
      <a class="navbar-brand mobile-center-logo" routerLink="/">
        <img [src]="logoUrl || '/images/logo.png'" alt="Logo" class="logo-img" />
      </a>

      <!-- Right: Collapse toggle -->
      <a onClick="return false;" class="navbar-toggle collapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      </a>
    </div>

    <!-- ✅ Navbar Collapse Content -->
    <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? '' : 'show'">
      <ul class="pull-left collapse-menu-icon">
        <li class="menuBtn">
          <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse nav-notification-icons">
            <mat-icon [ngClass]="{ rotated: isOpenSidebar }" class="header-icon">
              menu_open
            </mat-icon>
          </button>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- LANGUAGE + NOTIFICATIONS + PROFILE MENU (unchanged) -->
        <li>
          <div class="d-flex gap-2 align-items-center">
            <!-- Language -->
            <button matMiniFab [matMenuTriggerFor]="languagemenu" class="neutral">
              <mat-icon class="header-icon">language</mat-icon>
            </button>

            <mat-menu #languagemenu="matMenu" class="lang-item-menu">
              @for (item of languages; track item) {
              <div class="lang-item">
                <button mat-menu-item class="dropdown-item lang-item-list" (click)="setNewLanguageRefresh(item)"
                  [ngClass]="{ active: language?.code === item.code }">
                  <img src="{{ item.imageUrl }}" class="flag-img" height="12" />
                  <span class="align-middle">{{ item.name }}</span>
                </button>
              </div>
              }
            </mat-menu>

            <!-- Notifications -->
            <button matBadge="{{ notifications.length }}" matMiniFab [matMenuTriggerFor]="notificationMenu"
              class="error">
              <mat-icon class="header-icon">notifications_none</mat-icon>
            </button>

            <mat-menu #notificationMenu="matMenu" class="nfc-menu">
              <!-- Notifications Menu (unchanged) -->
              <div class="nfc-header">
                <h5 class="mb-0">{{ "NOTIFICATIONS" | translate }}</h5>
                <a (click)="markAllAsReadNotification()" class="nfc-mark-as-read cursor-pointer">
                  {{ "MARK_ALL_AS_READ" | translate }}
                </a>
              </div>
              <div class="nfc-dropdown">
                <ng-scrollbar style="height: 350px" visibility="hover">
                  <div class="noti-list header-menu">
                    <div class="menu">
                      <div>
                        @for (notification of notifications; track notification)
                        {
                        <button mat-menu-item onClick="return false;" (click)="viewNotification(notification)">
                          <span class="table-img msg-user">
                            <i class="material-icons nfc-type-icon" [ngClass]="{
                                'nfc-green':
                                  notification.notificationsType != 2,
                                'nfc-red': notification.notificationsType == 2
                              }">
                              {{
                              notification.notificationsType == 0
                              ? "event_available"
                              : notification.notificationsType == 1
                              ? "description"
                              : "schema"
                              }}
                            </i>
                          </span>
                          <span class="menu-info">
                            <small class="menu-title">
                              @if(notification.notificationsType == 1){
                              <b>{{ notification.documentName }}</b>
                              {{
                              "DOCUMENT_PERMISSION_GRANTED_TO_YOU" | translate
                              }}
                              } @else{
                              {{
                              notification.message ||
                              notification.documentName
                              }}
                              }
                            </small>
                            <span class="menu-desc mt-1">
                              <i class="material-icons">access_time</i>
                              {{
                              notification.createdDate
                              | utcToLocalTime : "shortDate"
                              }}
                            </span>
                          </span>
                        </button>
                        }
                      </div>
                    </div>
                  </div>
                </ng-scrollbar>
              </div>
              <div class="nfc-footer">
                <a class="nfc-read-all" (click)="viewAllNotification()">
                  {{ "VIEW_ALL" | translate }}
                </a>
              </div>
            </mat-menu>

            <!-- Profile -->
            <button mat-button [matMenuTriggerFor]="profilemenu">
              <div class="chip dropdown-toggle">
                <img src="/images/user.jpg" class="rounded-circle" width="32" height="32" alt="User" />
              </div>
            </button>

            <mat-menu #profilemenu="matMenu" class="profile-menu">
              <button mat-menu-item class="user-item-list" routerLink="my-profile">
                <mat-icon class="user-menu-icons">person</mat-icon>
                {{ "MY_PROFILE" | translate }}
              </button>
              <button mat-menu-item (click)="onLogout()" class="user-item-list">
                <mat-icon class="user-menu-icons">logout</mat-icon>
                {{ "LOGOUT" | translate }}
              </button>
            </mat-menu>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>