.rotated {
  transform: rotate(180deg);
}

.notification-count {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 10px;
  z-index: 1;
}

@media (max-width: 767px) {
  .logo-img {
    height: 36px;
    max-width: 120px;
    object-fit: contain;
    margin-left: 80px;
  }

  .navbar-header {
    position: relative;
  }

  .mobile-center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

/* ✅ Desktop (≥768px) - keep default behavior */
@media (min-width: 768px) {
  .mobile-center-logo {
    position: static;
    transform: none;
  }
}

