<section class="content">
  <div class="container-fluid">
    <div class="d-flex mb-2">
      <div class="me-auto">
        <span [dir]="langDir" class="mb-0 page-title">{{ "FOLDER_VIEW" | translate }}<app-page-help-text
            [code]="'ASSIGN_DOCUMENTS_FOLDER_VIEW'"></app-page-help-text>
        </span>
      </div>
      <div class="d-flex d-md-none col-auto">
        <button [dir]="langDir" class="btn" [matMenuTriggerFor]="menu" [attr.aria-label]="'Action'">
          <mat-icon class="fs-4 align-middle">more_vert</mat-icon>
        </button>
        <mat-menu [dir]="langDir" #menu="matMenu" class="p-3">
          <div class="d-flex flex-column gap-3">
            <button matTooltip="{{ 'REFRESH' | translate }}" [dir]="langDir" class="success me-2" matButton="filled"
              (click)="onRefresh()">
              <mat-icon class="medium-icon fs-5 align-middle">refresh</mat-icon>
              {{ "REFRESH" | translate }}
            </button>
            <button matTooltip="{{ 'DOCUMENT_VIEW' | translate }}" [dir]="langDir" class="success me-2"
              matButton="filled" [routerLink]="['/documents/list-view']">
              <mat-icon class="medium-icon fs-5 align-middle">list</mat-icon>
              {{ "DOCUMENT_VIEW" | translate }}
            </button>
            <button matTooltip="{{ 'ADD_FOLDERS_OR_CATEGORY' | translate }}" [dir]="langDir"
              *hasClaim="'CREATE_CATEGORY'" class="primary me-2" matButton="filled" (click)="onFoldersOrCategories()">
              <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
              {{ "ADD_FOLDERS_OR_CATEGORY" | translate }}
            </button>
            <button matTooltip="{{ 'ADD_DOCUMENT' | translate }}" [dir]="langDir" *hasClaim="'ALL_CREATE_DOCUMENT'"
              class="primary me-2" matButton="filled" [routerLink]="['/documents/add']" [queryParams]="{
                    view: 'folders',
                    categoryId: foldersViewStore.selectedCategoryId()
                    }">
              <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
              {{ "ADD_DOCUMENT" | translate }}
            </button>
          </div>
        </mat-menu>
      </div>
      <div class="d-flex  justify-content-end mb-2 d-none d-md-inline-flex">
        <button matTooltip="{{ 'REFRESH' | translate }}" [dir]="langDir" class="success me-2" matButton="filled"
          (click)="onRefresh()">
          <mat-icon class="medium-icon fs-5 align-middle">refresh</mat-icon>
          <span class="d-none d-lg-inline ms-1">{{ "REFRESH" | translate }}</span>
        </button>
        <button matTooltip="{{ 'DOCUMENT_VIEW' | translate }}" [dir]="langDir" class="success me-2" matButton="filled"
          [routerLink]="['/documents/list-view']">
          <mat-icon class="medium-icon fs-5 align-middle">list</mat-icon>
          <span class="d-none d-lg-inline ms-1">{{ "DOCUMENT_VIEW" | translate }}</span>
        </button>
        <button matTooltip="{{ 'ADD_FOLDERS_OR_CATEGORY' | translate }}" [dir]="langDir" *hasClaim="'CREATE_CATEGORY'"
          class="primary me-2" matButton="filled" (click)="onFoldersOrCategories()">
          <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
          <span class="d-none d-lg-inline ms-1">{{ "ADD_FOLDERS_OR_CATEGORY" | translate }}</span>
        </button>
        <button matTooltip="{{ 'ADD_DOCUMENT' | translate }}" [dir]="langDir" *hasClaim="'ALL_CREATE_DOCUMENT'"
          class="primary me-2" matButton="filled" [routerLink]="['/documents/add']" [queryParams]="{
                    view: 'folders',
                    categoryId: foldersViewStore.selectedCategoryId()
                    }">
          <mat-icon class="medium-icon fs-5 align-middle">add</mat-icon>
          <span class="d-none d-lg-inline ms-1">{{ "ADD_DOCUMENT" | translate }}</span>
        </button>
      </div>
    </div>
    <mat-card>
      <mat-card-content>
        <div class="row align-items-center justify-content-between">
          <div class="col-md-auto col-sm-auto">
            <div class="d-flex align-items-center" style="height: 40px">
              @if (foldersViewStore.newCategoryPath().length > 0) {
              <a [dir]="langDir" role="button" class="d-flex align-items-center pl-3 height-30 text-decoration-none"
                (click)="onHomeClick()">
                <span class="material-icons folder_shared text-primary">
                  home
                </span>
                {{ "HOME" | translate }}
              </a>

              } @else {
              <span [dir]="langDir" role="button" class="d-flex align-items-center pl-3 height-30 fw-bolder">
                <span class="material-icons folder_shared text-primary">
                  home
                </span>
                {{ "HOME" | translate }}
              </span>
              }
              @if(foldersViewStore.newCategoryPath().length > 0){
              @let paths= foldersViewStore.newCategoryPath();
              <!-- Always show first folder -->
              @if(paths.length <= 2){ <mat-icon class="small-arrow align-middle">arrow_right</mat-icon>
                @if(paths.length==2){
                <button [dir]="langDir" matTooltip="{{paths[0].name}}" type="button" [title]="paths[0].name"
                  (click)="onFolderClickFromPath(paths[0])" class="btn btn-link text-decoration-none">
                  @if(isMobile){
                  {{ paths[0].name | limitTo: '15' }}
                  } @else {
                  {{ paths[0].name }}
                  }
                </button>
                } @else{
                <span matTooltip="{{paths[0].name}}" [dir]="langDir" class="fw-bolder">
                  @if(isMobile){
                  {{ paths[0].name | limitTo: '15' }}
                  } @else {
                  {{ paths[0].name }}
                  }
                </span>
                }
                } @else {
                <mat-icon class="small-arrow align-middle">arrow_right</mat-icon>
                <button class="btn btn-link text-decoration-none fw-bolder"
                  (click)="onFolderClickFromPath(paths[paths.length - 2])">
                  ...
                </button>

                }
                <!-- Middle folders replaced with '...' if more than 3 folders -->
                <!-- Show remaining folders -->
                @for(path of paths; track i; let i = $index; let last = $last){
                @if(i > 0 && (paths.length <= 3 || i>= paths.length - 2)){
                  @if(i < paths.length - 1) { <mat-icon class="small-arrow align-middle">arrow_right</mat-icon>
                    <button [dir]="langDir" matTooltip="{{path.name}}" type="button" [title]="path.name"
                      (click)="onFolderClickFromPath(path)" class="btn btn-link text-decoration-none">
                      @if(isMobile){
                      {{ path.name | limitTo: '15' }}
                      } @else {
                      {{ path.name }}
                      }
                    </button>
                    }
                    @if(i === paths.length - 1){
                    <mat-icon class="small-arrow align-middle">arrow_right</mat-icon>
                    <span [dir]="langDir" matTooltip="{{path.name}}" class="fw-bolder">
                      @if(isMobile){
                      {{ path.name | limitTo: '15' }}
                      } @else {
                      {{ path.name }}
                      }
                    </span>
                    }
                    }
                    }
                    }
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <div class="grid-height-folderview">
                <table [dir]="langDir" class="table table-pos table_color">
                  @let orderBy = foldersViewStore.documentResourceParameter().orderBy;
                  @let sortActive = orderBy.slice(0, orderBy.length - 3);
                  @let sortDirection = orderBy.slice(-3) === 'asc' ? 'asc' : (orderBy.slice(-4) === 'desc' ? 'desc' :
                  '');
                  <thead matSort matSortDisableClear [matSortActive]="sortActive" [matSortDirection]="sortDirection"
                    (matSortChange)="sortData($event)">
                    <tr class="grid-header-color">
                      <th [dir]="langDir" style="width: 50%" mat-sort-header="name" class="text-nowrap">
                        {{ "NAME" | translate }}
                      </th>
                      <th style="width: 5%"></th>
                      <th [dir]="langDir" style="width: 10%" class="text-nowrap" mat-sort-header="documentNumber">
                        {{ "DOCUMENT_NO" | translate }}
                      </th>
                      <th [dir]="langDir" style="width: 15%" class="text-nowrap" mat-sort-header="createdBy">
                        {{ "CREATED_BY" | translate }}
                      </th>
                      <th [dir]="langDir" style="width: 15%" class="text-nowrap" mat-sort-header="createdDate">
                        {{ "CREATED_AT" | translate }}
                      </th>
                      <th [dir]="langDir" style="width: 5%">{{ "ACTIONS" | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    @if (foldersViewStore.categories() && foldersViewStore.categories().length > 0) {
                    @for (category of foldersViewStore.sortedCategories(); track category; let i=$index) {
                    <tr [ngClass]="{ 'evenRow': i % 2 === 0, 'oldRow': i % 2 !== 0 }">
                      <td>
                        <a [dir]="langDir" role="button"
                          class="d-flex align-items-center pl-3 height-30 text-decoration-none text-nowrap"
                          (click)="onFolderClick(category)">
                          @if (!category.isShared) {
                          <span class="material-icons folder_shared">
                            folder
                          </span>
                          } @else {
                          <span class="material-icons">
                            <span class="folder_shared">
                              <img src="/images/share-icon.svg" class="shared-icon" />
                            </span>
                          </span>
                          }
                          <span [dir]="langDir" class="m-1"> {{ category.name }}</span>
                        </a>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                        <span [dir]="langDir" class="d-flex align-items-center pl-3 height-30 text-nowrap">{{
                          category.createdUserName
                          }}</span>
                      </td>
                      <td>
                        <span [dir]="langDir" class="d-flex align-items-center pl-3 height-30 text-nowrap">{{
                          category.createdDate |
                          utcToLocalTime : "short" }}
                        </span>
                      </td>
                      <td>
                        <ng-container>
                          <button matMiniFab class="primary" [dir]="langDir"
                            *hasClaim="['ALL_SHARE_FOLDER', 'ALL_ARCHIVE_FOLDER']" [matMenuTriggerFor]="folderMenu">
                            <mat-icon class="fs-4 align-middle">more_vert</mat-icon>
                          </button>
                          <mat-menu [dir]="langDir" #folderMenu="matMenu">
                            <button [dir]="langDir" *hasClaim="'ALL_SHARE_FOLDER'" mat-menu-item
                              class="btn btn-light btn-sm" (click)="manageCategoryPermission(category)" type="button">
                              <mat-icon>share</mat-icon>
                              {{ "SHARE" | translate }}
                            </button>
                            <button [dir]="langDir" *hasClaim="'ALL_ARCHIVE_FOLDER'" mat-menu-item
                              class="btn btn-light btn-sm" (click)="archiveFolder(category)" type="button">
                              <mat-icon>archive</mat-icon>
                              {{ "ARCHIVE" | translate }}
                            </button>
                          </mat-menu>
                        </ng-container>
                      </td>
                    </tr>
                    }
                    }
                    @if (foldersViewStore.sortedDocuments().length > 0) {
                    @for (document of foldersViewStore.sortedDocuments(); track document.id; let i = $index) {
                    @let folderCount = foldersViewStore.categories().length % 2 + i;
                    <tr [ngClass]="{ 'evenRow': folderCount % 2 === 0, 'oldRow': folderCount % 2 !== 0 }">
                      <td>
                        <a [dir]="langDir" role="button" class="d-flex align-items-center pl-3 text-decoration-none"
                          (click)="onDocumentView(document)">
                          <img src="{{ document.extension | imagePath }}" [alt]="document.name" class="me-2 list-img"
                            loading="lazy" />
                          {{ document.name }}s
                        </a>
                      </td>
                      <td>
                        <div class="d-flex">
                          @let workflowName = document.workflowsDetail | workflowCombine;
                          @if (workflowName) {
                          <span [dir]="langDir" matTooltip="{{ 'CURRENT_WORKFLOW' | translate }}-{{ workflowName }}">
                            <mat-icon>activity</mat-icon>
                          </span>
                          }
                          @if (document.signBy) {
                          <span [dir]="langDir" matTooltip="{{ 'SIGN_BY' | translate }}-{{ document.signBy }}">
                            <mat-icon>gesture</mat-icon>
                          </span>
                          }
                          @if(document && document.commentCount && document.commentCount > 0) {
                          <mat-icon style="cursor: pointer; margin-left: 8px" (click)="addComment(document)"
                            matBadgeSize="small" matBadge="{{ document.commentCount }}" [attr.aria-hidden]="false">
                            comment
                          </mat-icon>
                          }
                          <ng-container *hasClaim="['ALL_SHARE_DOCUMENT', 'ALL_SHARE_FOLDER']">
                            @if(document && document.isShared) {
                            <mat-icon style="cursor: pointer; margin-left: 8px"
                              (click)="manageSharePermission(document)">
                              groups
                            </mat-icon>
                            }
                          </ng-container>
                        </div>
                      </td>
                      <td>
                        <span [dir]="langDir" class="d-flex align-items-center pl-3 document-number height-30">
                          {{ document.documentNumber }}
                          &nbsp;&nbsp;
                        </span>
                      </td>
                      <td>
                        <span [dir]="langDir" class="d-flex align-items-center pl-3 height-30">
                          {{ document.createdBy }}</span>
                      </td>
                      <td>
                        <span [dir]="langDir" class="d-flex align-items-center pl-3 height-30">
                          {{ document.createdDate | utcToLocalTime : "short" }}
                        </span>
                      </td>
                      <td>
                        <button matMiniFab class="primary" [dir]="langDir" *hasClaim="[
                          'ALL_EDIT_DOCUMENT',
                          'ALL_START_WORKFLOW',
                          'ALL_GET_DOCUMENT_SUMMARY',
                          'ALL_ADD_SIGNATURE',
                          'ALL_SHARE_DOCUMENT',
                          'ALL_CREATE_SHAREABLE_LINK',
                          'ALL_DOWNLOAD_DOCUMENT',
                          'ALL_UPLOAD_NEW_VERSION',
                          'ALL_VIEW_VERSION_HISTORY',
                          'ALL_ADD_COMMENT',
                          'ALL_ADD_REMINDER',
                          'ALL_SEND_EMAIL',
                          'ALL_ARCHIVE_DOCUMENT',
                          'ALL_MANAGE_INDEXING'
                          ]" [matMenuTriggerFor]="menu">
                          <mat-icon class="fs-4 align-middle">more_vert</mat-icon>
                        </button>

                        <mat-menu [dir]="langDir" #menu="matMenu">
                          <button [dir]="langDir" *hasClaim="'ALL_EDIT_DOCUMENT'" mat-menu-item
                            class="btn btn-light btn-sm" (click)="editDocument(document)">
                            <mat-icon>edit</mat-icon>
                            {{ "EDIT" | translate }}
                          </button>
                          @if (checkWorkflowInstance(document)) {
                          <button [dir]="langDir" *hasClaim="'ALL_START_WORKFLOW'" mat-menu-item
                            class="btn btn-light btn-sm" (click)="manageWorkflowInstance(document)">
                            <mat-icon>sync_alt</mat-icon>
                            {{ "START_WORKFLOW" | translate }}
                          </button>
                          }
                          <button [dir]="langDir" *hasClaim="'ALL_GET_DOCUMENT_SUMMARY'" mat-menu-item
                            (click)="getDocumentSummary(document)" type="button">
                            <mat-icon>smart_toy</mat-icon>
                            {{ "GET_DOCUMENT_SUMMARY" | translate }}
                          </button>
                          <button [dir]="langDir" *hasClaim="'ALL_ADD_SIGNATURE'" mat-menu-item
                            class="btn btn-light btn-sm" (click)="onDocumentSignatureClick(document)">
                            <mat-icon>draw</mat-icon>
                            {{ "DOCUMENT_SIGNATURE" | translate }}
                          </button>
                          <button [dir]="langDir" *hasClaim="'ALL_SHARE_DOCUMENT'" mat-menu-item
                            class="btn btn-light btn-sm" (click)="manageDocumentPermission(document)" type="button">
                            <mat-icon>share</mat-icon>
                            {{ "SHARE" | translate }}
                          </button>
                          <button [dir]="langDir" *hasClaim="'ALL_CREATE_SHAREABLE_LINK'" mat-menu-item
                            class="btn btn-light btn-sm" (click)="onCreateShareableLink(document)" type="button">
                            <mat-icon>link</mat-icon>
                            {{ "GET_SHAREABLE_LINK" | translate }}
                          </button>
                          <button [dir]="langDir" class="btn btn-light btn-sm" *hasClaim="'ALL_DOWNLOAD_DOCUMENT'"
                            mat-menu-item (click)="downloadDocument(document)" type="button">
                            <mat-icon>download</mat-icon>
                            {{ "DOWNLOAD" | translate }}
                          </button>
                          <button [dir]="langDir" mat-menu-item class="btn btn-light btn-sm"
                            *hasClaim="'ALL_UPLOAD_NEW_VERSION'" (click)="uploadNewVersion(document)" type="button">
                            <mat-icon>upload</mat-icon>
                            {{ "UPLOAD_NEW_VERSION_FILE" | translate }}
                          </button>
                          <button [dir]="langDir" class="btn btn-light btn-sm" mat-menu-item
                            *hasClaim="'ALL_VIEW_VERSION_HISTORY'" (click)="onVersionHistoryClick(document)">
                            <mat-icon> history</mat-icon>
                            {{ "VERSION_HISOTRY" | translate }}
                          </button>
                          <button [dir]="langDir" class="btn btn-light btn-sm" *hasClaim="'ALL_ADD_COMMENT'"
                            mat-menu-item (click)="addComment(document)" type="button">
                            <mat-icon> chat</mat-icon>
                            {{ "COMMENT" | translate }}
                          </button>
                          <button [dir]="langDir" class="btn btn-light btn-sm" *hasClaim="'ALL_ADD_REMINDER'"
                            mat-menu-item (click)="addReminder(document)" type="button">
                            <mat-icon>notifications</mat-icon>
                            {{ "ADD_REMINDER" | translate }}
                          </button>
                          <button [dir]="langDir" class="btn btn-light btn-sm" *hasClaim="'ALL_SEND_EMAIL'"
                            mat-menu-item (click)="sendEmail(document)" type="button">
                            <mat-icon>forward_to_inbox</mat-icon>
                            {{ "SEND_EMAIL" | translate }}
                          </button>
                          <button [dir]="langDir" *hasClaim="'ALL_ARCHIVE_DOCUMENT'" mat-menu-item
                            (click)="archiveDocument(document)" type="button">
                            <mat-icon>archive</mat-icon>
                            {{ "ARCHIVE" | translate }}
                          </button>
                        </mat-menu>
                      </td>
                    </tr>
                    }
                    }
                    @if (!foldersViewStore.isLoading() && foldersViewStore.categories().length === 0 &&
                    foldersViewStore.documents().length === 0) {
                    <tr>
                      <td colspan="6">
                        <p [dir]="langDir" class="text-danger">
                          {{ "NO_FILES_OR_FOLDERS_FOUND" | translate }}
                        </p>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
                @if (foldersViewStore.isLoading()) {
                <div class="loading-text">
                  Loading...
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
@if (foldersViewStore.isLoading() || isLoadingResults) {
<div class="spinner-container">
  <mat-progress-spinner mode="indeterminate" diameter="60" strokeWidth="5">
  </mat-progress-spinner>
</div>
}